html,
body {
	background-color: #efeff4;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.mui-bar~.mui-pull-top-tips {
	top: 24px;
}

.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;*/
	margin: 0;
}

.mui-bar~.mui-content .mui-fullscreen {
	top: 44px;
	height: auto;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.mui-bar~.mui-pull-top-tips {
	top: 24px;
}

.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}

#slider .mui-scroll-wrapper .mui-scroll {
	width: 100%;
}

.mui-control-item {
	width: 25% !important;
	line-height: 3em !important;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-table-view-cell:after {
	left: 0;
}

.mui-title {
	line-height: 43px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-table-view-cell:after {
	left: 0;
}

.mui-icon.mui-icon-search {
	font-size: 18px;
	font-weight: bold;
}

.mui-control-content {
	height: 640px;
}

.mui-scroll-wrapper {
	top: 0px;
}

.mui-slider-item img {
	height: 10em;
	width: 100%;
}

.mui-table-view-cell {
	line-height: ;
}

.mui-table-view-cell h4 {
	color: #838383;
	font-weight: 300;
}

.time {
	font-size: .7em;
	line-height: 1em;
	color: silver
}

.news_content {
	line-height: 1.3em;
	font-size: .9em;
	color: silver;
}

.li_left_title {
	height: 1.8em;
	font-size: 1em;
	overflow: hidden;
	padding: 0 .5em;
	line-height: 2.2em;
	float: left;
	text-align: left;
	color: silver;
}

.li_left_title img {
	margin: .4em .5em 0 -.5em ;
	width: 1.5em !important;
	height: 1.3em;
	float: left;
	display: inline-block;
	vertical-align: middle;
}

.mui-control-content {
	height: 640px;
}

.li_after {
	color: #2E9D58;
}

.li_after:after {
	position: absolute;
	content: '';
	background-color: #2E9D58;
	height: 3px;
	bottom: 0;
	width: 100%;
	left: 0;
}

.list_tile {
	padding-bottom: .2em;
}

.mui-table-view-cell p {
	line-height: 2.5em;
	font-size: .8em;
}

.mui-table-view-cell:after {
	left: 0;
}

.mui-scroll-wrapper {
	top: 0;
}

.message {
	height: 1.8em !important;
	width: 1.8em !important;
	margin-bottom: -.5em;
	display: inline;
}